.error-border {
  border-color: red;
}

.error-letter {
  color: red;
  font-size: 12px;
}

.note-letter-num {
  font-size: 12px;
  color: rgb(183, 181, 180);
}

.font-S12{
  font-size: 12px;
}

.color-red {
  color: red;
}

.image_delete_icon {
  position: absolute;
  top: -24px;
  right: 10px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  color: black;
}
